{% extends "base.html" %}

{% block content %}
    <h1>Форма 1. Заявка номер {{ numForm }}. Группа {{ group }}.</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.Degree_id.label }}<br>
            {{ form.Degree_id }}<br>
            {% for error in form.Degree_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.Course.label }}<br>
            {{ form.Course }}<br>
            {% for error in form.Course.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.Direction_id.label }}<br>
            {{ form.Direction_id(size=32) }}<br>
            {% for error in form.Direction_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.Direction_name.label }}<br>
            {{ form.Direction_name(size=32) }}<br>
            {% for error in form.Direction_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.Profile_id.label }}<br>
            {{ form.Profile_id(size=32) }}<br>
            {% for error in form.Profile_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.Profile_name.label }}<br>
            {{ form.Profile_name(size=32) }}<br>
            {% for error in form.Profile_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.Group_id.label }}<br>
            {{ form.Group_id(size=32) }}<br>
            {% for error in form.Group_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.NumStudents.label }}<br>
            {{ form.NumStudents(size=32) }}<br>
            {% for error in form.NumStudents.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.Save() }}</p>
    </form>
{% endblock %}
