{% extends "base.html" %}

{% block app_content %}
    <h1>Заявка №{{ numForm }}. Форма 1</h1>
    <div class="row">
      <div class="col-sm">
        <p>Проверте правильность данных в форме 1</p>
      </div>
      <div class="col-sm text-right">
        <a class="btn btn-outline-secondary" href="{{ url_for('form1', username=current_user.username, numForm=numForm, g = 0, i = i) }}" role="button">Добавить группу</a>
        <a class="btn btn-primary" href="{{ url_for('form2', username=current_user.username, numForm=numForm, g = 0, sub = 0, p = 0, i = i) }}" role="button">Перейти к следующей форме</a>
      </div>

    </div>
<br>
    {% if items != 0 %}
    <table class="table table-bordered table-hover text-center">
      <thead class="thead-light">
      <tr>
        <th colspan="2" style="width: 35%">Направление подготовки</th>
        <th colspan="2" style="width: 35%">Профиль</th>
        <th rowspan="2" style="width: 10%">Номер <br> группы</th>
        <th rowspan="2" style="width: 10%">Число <br> учащихся</th>
        <th rowspan="2" style="width: 10%"></th>
      </tr>
      <tr>
        <th style="width: 10%">Код</th>
        <th style="width: 25%">Название</th>
        <th style="width: 10%">Код</th>
        <th style="width: 25%">Название</th>
      </tr>
      </thead>
      </table>
    {% if items1 != 0 %}
    <table class="table table-bordered table-hover text-center">
        <caption class="text-center">Для бакалавров</caption>
          {% for u in b %}
                  {% if items.query.filter(items.NumForm == numForm, items.Degree_id == 1, items.Course == u).count() != 0 %}
                  <thead class="thead-light">
                  <tr>
                    <th colspan="7">
                      {% if u == 1 %}
                        I курс
                      {% elif u == 2 %}
                        II курс
                      {% elif u == 3 %}
                        III курс
                      {% elif u == 4 %}
                        IV курс
                      {% endif %}
                    </th>
                  </tr>

                  </thead>
                  {% endif %}
                  {% for item in items.query.filter(items.NumForm == numForm, items.Degree_id == 1, items.Course == u).all() %}
                  <tr>
                    <td style="width: 10%">{{ item.Direction_id }}</td>
                    <td style="width: 25%">{{ item.Direction_name }}</td>
                    <td style="width: 10%">{{ item.Profile_id }}</td>
                    <td style="width: 25%">{{ item.Profile_name }}</td>
                    <td style="width: 10%">{{ item.Group_id }}</td>
                    <td style="width: 10%">{{ item.NumStudents }}</td>
                    <td style="width: 10%"><a href="{{ url_for('form1_edit', username=current_user.username, numForm=numForm, group=item.Group_id, i = i) }}">Изменить</a><br>
                    <a href="{{ url_for('form_delet', username=current_user.username, numForm=numForm, i = i, g=item.Group_id, sub=0) }}">Удалить</a></td>
                  </tr>
              {% endfor %}
          {% endfor %}
        </table>
    {% endif %}
    {% if items2 != 0 %}
    <table class="table table-bordered table-hover text-center">
      <caption class="text-center">Для магистров</caption>
      {% for u in m %}
          {% if items.query.filter(items.NumForm == numForm, items.Degree_id == 2, items.Course == u).count() != 0 %}
            <thead class="thead-light">
            <tr>
              <th colspan="7">
                {% if u == 1 %}
                  I курс
                {% elif u == 2 %}
                  II курс
                {% endif %}
              </th>
            </tr>
            </thead>
            {% endif %}
            {% for item in items.query.filter(items.NumForm == numForm, items.Degree_id == 2, items.Course == u).all() %}
            <tr>
              <td style="width: 10%">{{ item.Direction_id }}</td>
              <td style="width: 25%">{{ item.Direction_name }}</td>
              <td style="width: 10%">{{ item.Profile_id }}</td>
              <td style="width: 25%">{{ item.Profile_name }}</td>
              <td style="width: 10%">{{ item.Group_id }}</td>
              <td style="width: 10%">{{ item.NumStudents }}</td>
              <td style="width: 10%"><a href="{{ url_for('form1_edit', username=current_user.username, numForm=numForm, group=item.Group_id, i = i) }}">Изменить</a><br>
              <a href="{{ url_for('form_delet', username=current_user.username, numForm=numForm, i = i, g=item.Group_id, sub=0) }}">Удалить</a></td>
            </tr>
        {% endfor %}
      {% endfor %}
    </table>
    {% endif %}

    {% if items3 != 0 %}
    <table class="table table-bordered table-hover text-center">
      <caption class="text-center">Для специалистов</caption>
      {% for u in c %}
          {% if items.query.filter(items.NumForm == numForm, items.Degree_id == 3, items.Course == u).count() != 0 %}
          <thead class="thead-light">
          <tr>
            <th colspan="7">
              {% if u == 1 %}
                I курс
              {% elif u == 2 %}
                II курс
              {% elif u == 3 %}
                III курс
              {% elif u == 4 %}
                IV курс
              {% elif u == 5 %}
                V курс
              {% endif %}
            </th>
          </tr>
          </thead>
          {% endif %}
          {% for item in items.query.filter(items.NumForm == numForm, items.Degree_id == 3, items.Course == u).all() %}
          <tr>
            <td style="width: 10%">{{ item.Direction_id }}</td>
            <td style="width: 25%">{{ item.Direction_name }}</td>
            <td style="width: 10%">{{ item.Profile_id }}</td>
            <td style="width: 25%">{{ item.Profile_name }}</td>
            <td style="width: 10%">{{ item.Group_id }}</td>
            <td style="width: 10%">{{ item.NumStudents }}</td>
            <td style="width: 10%"><a href="{{ url_for('form1_edit', username=current_user.username, numForm=numForm, group=item.Group_id, i = i) }}">Изменить</a><br>
            <a href="{{ url_for('form_delet', username=current_user.username, numForm=numForm, i = i, g=item.Group_id, sub=0) }}">Удалить</a></td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>
    {% endif %}
    {% endif %}

    <br>
{% endblock %}
