{% extends "base.html" %}

{% block app_content %}


    {% if f1 != 0 %}
    {% if f2 != 0 %}
    {% if k == 0 %}
      <div class="row">
        <div class="col-sm">
          <h1>Заявка №{{ numForm }}</h1>
        </div>
        <div class="col-sm text-right">
          <a class="btn btn-success" href="{{ url_for('send_request', username=current_user.username, numForm=numForm) }}" role="button">Отправить заявку</a>
        </div>
      </div>
    {% endif %}
    {% endif %}
    {% endif %}
    {% if f1 == 0 or f2 == 0 or k != 0  %}
    <h1>Заявка №{{ numForm }}</h1>
    <div class="alert alert-primary" role="alert">
      <div class="row">
        <div class="col-sm">
          <p>Для отправки данной заявки необходимо:</p>
          <p>
        {% if f1 == 0 %}
          - <a href="{{ url_for('form1', username=current_user.username, numForm=numForm, g=0, i=23) }}">Заполнить форму 1</a> <br>
        {% endif %}
        {% if f2 == 0 %}
        {% if f1 == 0 %}
          - Заполнить форму 2 <br>
        {% else %}
          - <a href="{{ url_for('form2', username=current_user.username, numForm=numForm, g=0, sub=0, p=0, i=22) }}">Заполнить форму 2</a> <br>
        {% endif %}
        {% endif %}
        {% if k != 0 %}
          - Заполнить форму 2 для следующих групп: {% for u in g_no_ok %}
                                                        <a href="{{ url_for('form2', username=current_user.username, numForm=numForm, g=u, sub=0, p=0, i=22) }}">{{ u }}</a>
                                                        {% endfor %}<br>
        {% endif %}
          - Проверить правильность данных</p>
        </div>
      </div>
    </div>
    {% endif %}

    <p>
    <table border="0" width="100%">
      <td><b>Факультет</b> <u>{{ f0.Faculty }}</u></td>
      <td align="center"><b>Кафедра</b> <u>{{ f0.Department }}</u></td>
      <td align="right"><b>Год</b> <u>{{ f0.Year }}</u></td>
    </table>
    </p>

<div class="row">
  <div class="col-sm">
    <p>
      <b>Форма 1.</b>
      {% if f1 != 0 %}
          {% if f2 != 0 %}
            <a href="{{ url_for('form1', username=current_user.username, numForm=numForm, g=0, i=22) }}">Добавить группу</a>
          {% elif f2 == 0 %}
            <a href="{{ url_for('form1', username=current_user.username, numForm=numForm, g=0, i=21) }}">Добавить группу</a>
          {% endif %}
      {% endif %}
    </p>
  </div>
  {% if f1 != 0 %}
  <div class="col-sm text-right">
    <a href="{{ url_for('form_clean', username=current_user.username, numForm=numForm, i=21) }}">Отчистить форму</a>
  </div>
  {% endif %}

</div>


    {% if f1 != 0 %}
    <table class="table table-bordered table-hover text-center">

      <thead class="thead-light">
      <tr>
        <th colspan="2" style="width: 35%">Направление подготовки</th>
        <th colspan="2" style="width: 35%">Профиль</th>
        <th rowspan="2" style="width: 10%">Номер <br> группы</th>
        <th rowspan="2" style="width: 10%">Число <br> учащихся</th>
        <th rowspan="2" style="width: 10%"></th>
      </tr>
      <tr>
        <th style="width: 10%">Код</th>
        <th style="width: 25%">Название</th>
        <th style="width: 10%">Код</th>
        <th style="width: 25%">Название</th>
      </tr>
      </thead>
      </table>
        {% if items1 != 0 %}
        <table class="table table-bordered table-hover text-center">
            <caption class="text-center">Для бакалавров</caption>
              {% for u in b %}
                      {% if items.query.filter(items.NumForm == numForm, items.Degree_id == 1, items.Course == u).count() != 0 %}
                      <thead class="thead-light">
                      <tr>
                        <th colspan="7">
                          {% if u == 1 %}
                            I курс
                          {% elif u == 2 %}
                            II курс
                          {% elif u == 3 %}
                            III курс
                          {% elif u == 4 %}
                            IV курс
                          {% endif %}
                        </th>
                      </tr>

                      </thead>
                      {% endif %}
                      {% for item in items.query.filter(items.NumForm == numForm, items.Degree_id == 1, items.Course == u).all() %}
                      <tr>
                        <td style="width: 10%">{{ item.Direction_id }}</td>
                        <td style="width: 25%">{{ item.Direction_name }}</td>
                        <td style="width: 10%">{{ item.Profile_id }}</td>
                        <td style="width: 25%">{{ item.Profile_name }}</td>
                        <td style="width: 10%">{{ item.Group_id }}</td>
                        <td style="width: 10%">{{ item.NumStudents }}</td>
                        <td style="width: 10%"><a href="{{ url_for('form1_edit', username=current_user.username, numForm=numForm, group=item.Group_id, i=2) }}">Изменить</a><br>
                        <a href="{{ url_for('form_delet', username=current_user.username, numForm=numForm, i=21, g=item.Group_id, sub=0) }}">Удалить</a></td>
                      </tr>
                  {% endfor %}
              {% endfor %}
            </table>
        {% endif %}
        {% if items2 != 0 %}
            <table class="table table-bordered table-hover text-center">
              <caption class="text-center">Для магистров</caption>
              {% for u in m %}
                  {% if items.query.filter(items.NumForm == numForm, items.Degree_id == 2, items.Course == u).count() != 0 %}
                        <thead class="thead-light">
                        <tr>
                          <th colspan="7">
                            {% if u == 1 %}
                              I курс
                            {% elif u == 2 %}
                              II курс
                            {% endif %}
                          </th>
                        </tr>
                        </thead>
                    {% endif %}
                    {% for item in items.query.filter(items.NumForm == numForm, items.Degree_id == 2, items.Course == u).all() %}
                    <tr>
                      <td style="width: 10%">{{ item.Direction_id }}</td>
                      <td style="width: 25%">{{ item.Direction_name }}</td>
                      <td style="width: 10%">{{ item.Profile_id }}</td>
                      <td style="width: 25%">{{ item.Profile_name }}</td>
                      <td style="width: 10%">{{ item.Group_id }}</td>
                      <td style="width: 10%">{{ item.NumStudents }}</td>
                      <td style="width: 10%"><a href="{{ url_for('form1_edit', username=current_user.username, numForm=numForm, group=item.Group_id, i=2) }}">Изменить</a><br>
                      <a href="{{ url_for('form_delet', username=current_user.username, numForm=numForm, i=21, g=item.Group_id, sub=0) }}">Удалить</a></td>
                    </tr>
                {% endfor %}
              {% endfor %}
            </table>
        {% endif %}

        {% if items.query.filter(items.NumForm == numForm, items.Degree_id == 3).count() != 0 %}
            <table class="table table-bordered table-hover text-center">
              <caption class="text-center">Для специалистов</caption>
              {% for u in c %}
                  {% if items.query.filter(items.NumForm == numForm, items.Degree_id == 3, items.Course == u).count() != 0 %}
                  <thead class="thead-light">
                  <tr>
                    <th colspan="7">
                      {% if u == 1 %}
                        I курс
                      {% elif u == 2 %}
                        II курс
                      {% elif u == 3 %}
                        III курс
                      {% elif u == 4 %}
                        IV курс
                      {% elif u == 5 %}
                        V курс
                      {% endif %}
                    </th>
                  </tr>
                  </thead>
                  {% endif %}
                  {% for item in items.query.filter(items.NumForm == numForm, items.Degree_id == 3, items.Course == u).all() %}
                  <tr>
                    <td style="width: 10%">{{ item.Direction_id }}</td>
                    <td style="width: 25%">{{ item.Direction_name }}</td>
                    <td style="width: 10%">{{ item.Profile_id }}</td>
                    <td style="width: 25%">{{ item.Profile_name }}</td>
                    <td style="width: 10%">{{ item.Group_id }}</td>
                    <td style="width: 10%">{{ item.NumStudents }}</td>
                    <td style="width: 10%"><a href="{{ url_for('form1_edit', username=current_user.username, numForm=numForm, group=item.Group_id, i=2) }}">Изменить</a><br>
                    <a href="{{ url_for('form_delet', username=current_user.username, numForm=numForm, i=21, g=item.Group_id, sub=0) }}">Удалить</a></td>
                  </tr>
                {% endfor %}
              {% endfor %}
            </table>
        {% endif %}
    {% else %}
      <p><a href="{{ url_for('form1', username=current_user.username, numForm=numForm, g=0, i=23) }}">Заполнить форму</a></p>
    {% endif %}

    <div class="row">
      <div class="col-sm">
        <p>
            <b>Форма 2.</b>
            {% if f2 != 0 %}
              <a href="{{ url_for('form2', username=current_user.username, numForm=numForm, g=0, sub=0, p=0, i=22) }}">Добавить дисциплинну</a>
            {% endif %}
        </p>
      </div>
      <div class="col-sm text-right">
        {% if f2 != 0 %}
          <a href="{{ url_for('form_clean', username=current_user.username, numForm=numForm, i=22) }}">Отчистить форму</a>
        {% endif %}
      </div>

    </div>


    {% if f2 != 0 %}
        <table class="table table-bordered table-hover text-center">
          <thead class="thead-light">
              <tr>
                <th colspan="2">Название дисциплины</th>
                <th colspan="2">Преподователи теоритической части</th>
                <th colspan="5">Преподователи практической части</th>
                <th rowspan="3" style="width: 10%"></th>
              </tr>
              <tr>
                <th rowspan="2" style="width: 12%">Полное</th>
                <th rowspan="2" style="width: 10%">Краткое</th>
                <th rowspan="2" style="width: 12%">ФИО</th>
                <th rowspan="2" style="width: 10%">Кафедра</th>
                <th rowspan="2" style="width: 12%">ФИО</th>
                <th rowspan="2" style="width: 10%">Кафедра</th>
                <th colspan="3">Вид занятий</th>
              </tr>
              <tr>
                <th style="width: 8%">Курсов.</th>
                <th style="width: 8%">Практ.</th>
                <th style="width: 8%">Лабор.</th>
              </tr>
          </thead>
          </table>
          <table class="table table-bordered table-hover text-center">
          {% for u in range(koll) %}
              {% if  items_2.query.filter(items_2.NumForm == numForm, items_2.Group_id == G[u]).count() != 0 %}
                  <thead class="thead-light">
                  <tr>
                    <th colspan="10">{{ G[u] }}</th>
                  </tr>
                  </thead>
                  {% endif %}
                  {% for item in items_2.query.filter(items_2.NumForm == numForm, items_2.Group_id == G[u]).all() %}
                  <tr>
                    <td style="width: 12%">{{ item.FullSubject }}</td>
                    <td style="width: 10%">{{ item.BriefSubject }}</td>
                    <td style="width: 12%">{{ item.LecturerName }}</td>
                    <td style="width: 10%">{{ item.LecturerDepartment }}</td>

                    <td style="width: 12%">{{ item.PracticianName }}</td>
                    <td style="width: 10%">{{ item.PracticianDepartment }}</td>

                    {% if item.course_work == '1' %}
                    <td style="width: 8%"> Да </td>
                    {% elif item.course_work == '2' %}
                    <td style="width: 8%"> Нет </td>
                    {% endif %}

                    {% if item.practice_work == '1' %}
                    <td style="width: 8%"> Да </td>
                    {% elif item.practice_work == '2' %}
                    <td style="width: 8%"> Нет </td>
                    {% endif %}

                    {% if item.laboratory_work == '1' %}
                    <td style="width: 8%"> Да </td>
                    {% elif item.laboratory_work == '2' %}
                    <td style="width: 8%"> Нет </td>
                    {% endif %}
                    <td style="width: 10%">
                      <a href="{{ url_for('form2_edit', username=current_user.username, numForm=numForm, group=item.Group_id, sub=item.id, i=2) }}">Изменить</a><br>
                      <a href="{{ url_for('form_delet', username=current_user.username, numForm=numForm, i=22, g=item.Group_id, sub = item.id) }}">Удалить</a>
                    </td>
                  </tr>
              {% endfor %}
          {% endfor %}
        </table>
    {% else %}
        {% if f1 != 0 %}
        <p><a href="{{ url_for('form2', username=current_user.username, numForm=numForm, g=0, sub=0, p=0, i=22) }}">Заполнить форму</a></p>
        {% else %}
        <p>Форма не заполнена. <a href="{{ url_for('form1', username=current_user.username, numForm=numForm, g=0, i=23) }}">Заполните форму 1</a>, чтобы заполнить форму 2</p>
        {% endif %}
    {% endif %}


{% endblock %}
