{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Форма 2. Заявка номер {{ numForm }}. Группа {{ group }}</h1>
    <h1> Дисциплина: {{ sub }} </h1>
    <form class="form form-horizontal" method="post" action="" role="form">
      <div class="form-group">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <p><b>Название дисциплины</b></p>
        <div class="row">
          <div class="col-sm">
            {{ wtf.form_field(form.FullSubject) }}
          </div>
          <div class="col-sm">
            {{ wtf.form_field(form.BriefSubject) }}
          </div>
        </div>
        <p><b>Преподаватель теоретической части</b></p>
        <div class="row">
          <div class="col-sm">
            {{ wtf.form_field(form.LecturerName) }}
          </div>
          <div class="col-sm">
            {{ wtf.form_field(form.LecturerDepartment) }}
          </div>
        </div>
        <p><b>Преподаватель практической части</b></p>
        <div class="row">
          <div class="col-sm">
            {{ wtf.form_field(form.PracticianName) }}
          </div>
          <div class="col-sm">
            {{ wtf.form_field(form.PracticianDepartment) }}
          </div>
        </div>

        <p>Вид занятия</p>
        <div class="row">
          <div class="col-sm">
            {{ wtf.form_field(form.course_work) }}
          </div>
          <div class="col-sm">
            {{ wtf.form_field(form.practice_work) }}
          </div>
          <div class="col-sm">
            {{ wtf.form_field(form.laboratory_work) }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm text-left">
            {{ wtf.form_field(form.Save) }}
          </div>
        </div>


      </div>
    </form>
{% endblock %}
