{% extends "base.html" %}

{% block content %}
    <h1>Форма 1. Заявка номер {{ numForm }}. Бакалавриат.</h1>
    <table border="1" cellpadding="5" cellspacing="0" width="60%">
      <tr>
        <th colspan="2">Направление подготовки</th>
        <th colspan="2">Профиль</th>
        <th rowspan="2">Номер группы</th>
        <th rowspan="2">Число учащихся</th>
      </tr>
      <tr>
        <th>Код направления</th>
        <th>Название направления</th>
        <th>Код профиля</th>
        <th>Название профиля</th>
      </tr>
      {% if items1_1 != 0 %}
      <tr>
        <th colspan="6">I курс</th>
      </tr>
      {% for item in items1_1 %}
      <tr>
        <td>{{ item.Direction_id }}</td>
        <td>{{ item.Direction_name }}</td>
        <td>{{ item.Profile_id }}</td>
        <td>{{ item.Profile_name }}</td>
        <td>{{ item.Group_id }}</td>
        <td>{{ item.NumStudents }}</td>
      </tr>
      {% endfor %}
      {% endif %}
      {% if items1_2 != 0 %}
      <tr>
        <th colspan="6">II курс</th>
      </tr>
      {% for item in items1_2 %}
      <tr>
        <td>{{ item.Direction_id }}</td>
        <td>{{ item.Direction_name }}</td>
        <td>{{ item.Profile_id }}</td>
        <td>{{ item.Profile_name }}</td>
        <td>{{ item.Group_id }}</td>
        <td>{{ item.NumStudents }}</td>
      </tr>
      {% endfor %}
      {% endif %}
      {% if items1_3 != 0 %}
      <tr>
        <th colspan="6">III курс</th>
      </tr>
      {% for item in items1_3 %}
      <tr>
        <td>{{ item.Direction_id }}</td>
        <td>{{ item.Direction_name }}</td>
        <td>{{ item.Profile_id }}</td>
        <td>{{ item.Profile_name }}</td>
        <td>{{ item.Group_id }}</td>
        <td>{{ item.NumStudents }}</td>
      </tr>
      {% endfor %}
      {% endif %}
      {% if items1_4 != 0 %}
      <tr>
        <th colspan="6">IV курс</th>
      </tr>
      {% for item in items1_4 %}
      <tr>
        <td>{{ item.Direction_id }}</td>
        <td>{{ item.Direction_name }}</td>
        <td>{{ item.Profile_id }}</td>
        <td>{{ item.Profile_name }}</td>
        <td>{{ item.Group_id }}</td>
        <td>{{ item.NumStudents }}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.Course.label }}<br>
            {{ form.Course }}<br>
            {% for error in form.Course.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.Direction_id.label }}<br>
            {{ form.Direction_id(size=32) }}<br>
            {% for error in form.Direction_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.Direction_name.label }}<br>
            {{ form.Direction_name(size=32) }}<br>
            {% for error in form.Direction_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.Profile_id.label }}<br>
            {{ form.Profile_id(size=32) }}<br>
            {% for error in form.Profile_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.Profile_name.label }}<br>
            {{ form.Profile_name(size=32) }}<br>
            {% for error in form.Profile_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.Group_id.label }}<br>
            {{ form.Group_id(size=32) }}<br>
            {% for error in form.Group_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.NumStudents.label }}<br>
            {{ form.NumStudents(size=32) }}<br>
            {% for error in form.NumStudents.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.AddGroup() }}</p>
        {% if g != 0 %}
        <p>{{ form.Save() }}</p>
        {% endif %}
    </form>

{% endblock %}
