{% extends "base.html" %}

{% block content %}
    <h1>Форма 1. Заявка номер {{ numForm }}</h1>
    <p>Проверте правильность данных в форме 1</p>
    <table border="1" cellpadding="0" cellspacing="0">
      <tr>
        <th colspan="2">Направление подготовки</th>
        <th colspan="2">Профиль</th>
        <th rowspan="2">Степень</th>
        <th rowspan="2">Курс</th>
        <th rowspan="2">Номер группы</th>
        <th rowspan="2">Число учащихся</th>
      </tr>
      <tr>
        <th>Код направления</th>
        <th>Название направления</th>
        <th>Код профиля</th>
        <th>Название профиля</th>
      </tr>
      {% for item in items %}
      <tr>
        <td>{{ item.Direction_id }}</td>
        <td>{{ item.Direction_name }}</td>
        <td>{{ item.Profile_id }}</td>
        <td>{{ item.Profile_name }}</td>
        {% if item.Degree_id == 1 %}
        <td> Бакалавриат </td>
        {% elif item.Degree_id == 2 %}
        <td> Магистратура </td>
        {% endif %}
        <td>{{ item.Course }}</td>
        <td>{{ item.Group_id }}</td>
        <td>{{ item.NumStudents }}</td>
        <td><a href="{{ url_for('ffour', username=current_user.username, numForm=numForm, group=item.Group_id) }}">Изменить</a></td>
      </tr>
      {% endfor %}
    </table>
    <form action="" method="post">
        <p>{{ form.NextForm() }}</p>
    </form>

{% endblock %}
