{% extends "base.html" %}

{% block content %}
    <h1>Регистрация нового пользователя</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.FullName.label }}<br>
            {{ form.FullName(size=32) }}<br>
            {% for error in form.FullName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.Phone.label }}<br>
            {{ form.Phone(size=32) }}<br>
            {% for error in form.Phone.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.Faculty_id.label }}<br>
            {{ form.Faculty_id }}<br>
            {% for error in form.Faculty_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.Department_id.label }}<br>
            {{ form.Department_id }}<br>
            {% for error in form.Department_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.access.label }}<br>
            {{ form.access }}<br>
            {% for error in form.access.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
