{% extends "base.html" %}

{% block app_content %}




    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Данные для авторизации пользователя</h5>
        <p class="card-text">Логин: <b>{{ username }}</b> <br>
        <p>Пароль: <b>{{ password }}</b></p>
        <div class="class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-dark" href="{{ url_for('send_login_pass', login = username, parol = password, email = email) }}">Отправить на почту</a>
        <a class="btn btn-dark" href="{{ url_for('register') }}">Добавить нового пользователя</a>
        </div>
      </div>
    </div>



{% endblock %}
