{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row justify-content-md-center">
  <div class="col-sm-6 text-center">
    <h1>Регистрация пользователя</h1>
    <br>
  </div>
</div>
  <form class="form form-horizontal" method="post" action="" role="form">
    <div class="form-group">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
  <div class="row justify-content-md-center">
      <div class="col-sm-6">
          {{ wtf.form_field(form.FullName, placeholder="Иванов Иван Иванович") }}
      </div>
  </div>

  <div class="row justify-content-md-center">
      <div class="col-sm-3">
          {{ wtf.form_field(form.email, placeholder="ivan@example.ru") }}
      </div>
      <div class="col-sm-3">
          {{ wtf.form_field(form.Phone, placeholder="+7 (999) 999-99-99") }}
      </div>
  </div>

  <div class="row justify-content-md-center">
      <div class="col-sm-3">
          {{ wtf.form_field(form.Faculty, placeholder="КТИ") }}
      </div>
      <div class="col-sm-3">
          {{ wtf.form_field(form.Department, placeholder="АПУ") }}
      </div>
  </div>

  <div class="row justify-content-md-center">
      <div class="col-sm-3">
          {{ wtf.form_field(form.access) }}
      </div>
  </div>
  <div class="row justify-content-md-center">
      <div class="col-sm-3 text-center">
          {{ wtf.form_field(form.submit, class="btn btn-dark") }}
      </div>
  </div>
</div>
</form>


{% endblock %}
