{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row justify-content-md-center">
  <div class="col-sm-6 text-center">
    <h1>Обновление пароля</h1>
    <br>
  </div>
</div>

    <form class="form form-horizontal" method="post" action="" role="form">
      <div class="form-group">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <div class="row justify-content-md-center">
          <div class="col-sm-4">
            {{ wtf.form_field(form.password) }}
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-sm-4">
            {{ wtf.form_field(form.password2) }}
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-sm-4 text-center">
            {{ wtf.form_field(form.submit, class="btn btn-dark") }}
          </div>
        </div>

      </div>
      </form>
{% endblock %}
